# These resources constitute the fully configured set of manifests
# used to generate the 'manifests/' directory in a bundle.
resources:
- bases/starburst-addon-operator.clusterserviceversion.yaml
- ../default
- ../samples
- ../scorecard

patchesStrategicMerge:
- patches/enterprise_in_required_crd.yaml

replacements:
- path: kustomizereplace.yaml
